#instructionHint, #puzzleTitle, #title{
  text-align: center;
}

.container{
  padding-left: 15%;
  padding-right: 15%;
}

#nav{
  background-color: #0003A6;
}

#title{
  margin-top:25px;
}

#button{
  text-align: right;
}
#buttonRow{
  padding:10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#footer{
  padding:20px;
  margin-top: 10px;
  background-color: #FF865C;
}

#contact{
  padding-top:10px;
}

#puzzleTitle, #title{
  background-color: #FED835;
}
